--swiftversion 5.7

--exclude Pods,Mastodon/Generated

--disable andOperator
--disable anyObjectProtocol
--disable assertionFailures
--disable blankLinesAroundMark
--disable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--disable blankLinesBetweenScopes
--disable braces
--disable consecutiveBlankLines
--disable consecutiveSpaces
--disable duplicateImports
--disable elseOnSameLine
--disable emptyBraces
--disable enumNamespaces
--disable extensionAccessControl
--disable fileHeader
--disable genericExtensions
--disable hoistPatternLet
--disable indent
--disable initCoderUnavailable
--disable leadingDelimiters
--disable linebreakAtEndOfFile
--disable linebreaks
--disable modifierOrder
--disable numberFormatting
--disable opaqueGenericParameters
--disable preferKeyPath
--disable redundantBackticks
--disable redundantBreak
--disable redundantClosure
--disable redundantExtensionACL
--disable redundantFileprivate
--disable redundantGet
--disable redundantInit
--disable redundantLet
--disable redundantLetError
--disable redundantNilInit
--disable redundantObjc
--disable redundantOptionalBinding
--disable redundantParens
--disable redundantPattern
--disable redundantRawValues
--disable redundantReturn
--disable redundantSelf
--disable redundantType
--disable redundantVoidReturnType
--disable semicolons
--disable sortDeclarations
--disable sortedImports
--disable spaceAroundBraces
--disable spaceAroundBrackets
--disable spaceAroundComments
--disable spaceAroundGenerics
--disable spaceAroundOperators
--disable spaceAroundParens
--disable spaceInsideBraces
--disable spaceInsideBrackets
--disable spaceInsideComments
--disable spaceInsideGenerics
--disable spaceInsideParens
--disable strongOutlets
--disable strongifiedSelf
--disable todos
--disable trailingClosures
--disable trailingCommas
--disable trailingSpace
--disable typeSugar
--disable unusedArguments
--disable void
--disable wrap
--disable wrapArguments
--disable wrapAttributes
--disable wrapMultilineStatementBraces
--disable wrapSingleLineComments
--disable yodaConditions